@media (min-width: 1024px) { 
  .img_products {
    border: 1px solid $productBorder;
    height: 150px;
  }

  .main_page_width {
    width: 100%;
    padding: 0 30px;
  }

  .white_header_logo {
    width: 50%;
    @include flexAlign(center);
    justify-content: flex-start;
  }
  
  .sidebar_class {
    width: 25%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    margin-top: 20px;
    margin-right: 45px;
    padding-left: 15px;
  }

  .breadcrumb_class {
    width: 100%;
    @include flexAlign(center);
    margin-top: 10px;
    padding-left: 30px;
  }

  .items_card_class {
    width: 20%;
    @include flexJustify(space-around);
    flex-direction: column;
    padding-top: 20px;
  }
 }