@media (min-width: 1400px) { 

  .img_products {
    border: 1px solid $productBorder;
    height: 160px;
  }

  .main_page_width {
    width: 82%;
  }

  .breadcrumb_class {
    width: 100%;
    @include flexAlign(center);
    margin-top: 10px;
    padding-left: 40px;
  }

  .dark_header_class {
    width: 83%;
    @include flexAlign(center);
    justify-content: flex-end;
  }

  .white_header_logo {
    width: 30%;
    @include flexAlign(center);
    justify-content: flex-start;
  }

  .search_bar_class {
    width: 48%;
    @include flexAlign(center);
  }

  .red_header {
    @include flexCenter();
    padding-left: 1px;
    & a {
      font-size: 1.2rem;
    }
  }
 }
