
@media (min-width: 320px) { 
  * {
    font-size: .7rem;
  }

  p {
    font-size: 1.2rem;
  }

  li {
    font-size: 1.2rem;
  }

  b {
    font-size: 1.2rem;
  }

  .img_products {
    border: 1px solid $productBorder;
    height: 100px;
  }

  .main_page_width {
    width: 100%;
    padding: 0 20px;
  }

  .main_content {
    width: 80%;
  }

  .dark_header_class {
    @include flexCenter();
    width: 100%;
  }

  .white_header_logo {
    @include flexJustify(space-around);
    width: 100%;
    align-items: center;
  }

  .search_bar_class {
    display: none;
  }

  .red_header {
    display: none;
  }

  .breadcrumb_class {
    width: 80%;
    @include flexAlign(center);
    margin-top: 10px;
    padding-left: 20px;
  }

  .sidebar_class {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    margin-top: 20px;
    padding-left: 10px;
    padding-bottom: 30px;
  }

  .items_card_class {
    @include flexJustify(space-around);
    width: 40%;
    flex-direction: column;
    padding-top: 20px;
    margin: 0 10px;
  }

}