@media (min-width: 768px) { 
  * {
    font-size: .8rem;
  }
  .img_products {
    border: 1px solid $productBorder;
    height: 150px;
  }

  .main_page_width {
    width: 100%;
    padding: 0 40px;
  }

  .main_content {
    width: 65%;
  }

  .dark_header_class {
    padding-right: 30px;
    width: 100%;
    @include flexAlign(center);
    justify-content: flex-end;
  }

  .white_header_logo {
    width: 50%;
    @include flexAlign(center);
    justify-content: flex-start;
  }

  .header_btns {
    display: none;
  }

  .search_bar_class {
    width: 48%;
    @include flexAlign(center);
  }

  .red_header {
    @include flexAlign(center);
    width: 100%;
    padding-left: 30px;
    & a {
      font-size: .9rem;
    }
  }

  .breadcrumb_class {
    width: 100%;
    @include flexAlign(center);
  }

  .sidebar_class {
    width: 25%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    margin-top: 20px;
    margin-right: 30px;
    padding-left: 15px;
  }

  .items_card_class {
    @include flexJustify(space-around);
    width: 28%;
    flex-direction: column;
    padding-top: 20px;
    margin: 0 10px;
  }


 }