$productBorder: #E9E8E6;

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexJustify($justify) {
  display: flex;
  justify-content: $justify;
}

@mixin flexAlign($align) {
  display: flex;
  align-items: $align;
  
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
	margin-bottom: .5rem;
	font-weight: 500;
	line-height: 1.2
}

.h1,
h1 {
	font-size: 2.5rem
}

.h2,
h2 {
	font-size: 2rem
}

.h3,
h3 {
	font-size: 1.75rem
}

.h4,
h4 {
	font-size: 1.5rem
}

.h5,
h5 {
	font-size: 1.25rem
}

.h6,
h6 {
	font-size: 1rem
}

hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, .1)
}

input {
  font-size: 1.2rem;
}

.container_class {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.row_class {
	display: flex;
	flex-wrap: wrap;
}

.row_center {
  @include flexJustify(center);
	flex-wrap: wrap;
	margin-right: -15px;
  margin-left: -15px;
  
}

.content_center {
  @include flexCenter()
}

.header_btns {
  display: flex;
}

.defaltu_btn {
  display: inline-block;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
}


a {
  text-decoration: none;
  color: white;
  &:hover{
    text-decoration: none;
    color: rgb(150, 149, 149);
  }
}

